*{
  --form-width: 30vw;
  --input-width: 8vw;
  --margin01: 0.25vw;
  box-sizing: border-box;
}


.input-form{
  padding: var(--margin01);
  width: var(--form-width);
  background-color: black;
  border: gray 1px solid;
}
.input-form input, button{
  margin: var(--margin01);
}


.inputs-table{
  width: var(--form-width);
  max-width: var(--form-width);
  border-collapse: collapse;
  text-align: center;
}
.inputs-table tr,td,th {
  border: gray   1px solid;
}
.inputs-table th {
  color: white;
  background-color: black;
  border-color: gray;
}
.inputs-table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.inputs-table input{
  width: var(--input-width);
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
  margin-bottom: auto;
}

.form {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  background-color: #373737;
  color: var(--second-text-color);
}

.form-item {
  display: flex;
  flex-direction: column;
}
