
:root{
    --main-text-color: rgb(218, 214, 182);
  }

.nav-bar{
    background-color: #555555;
    color: var(--main-text-color);
    font-weight: bold;
    padding-block: 0.2rem;
    padding-inline: 0.2rem ;
    display: flex;
}
.buttons-div{
    margin-left: auto;
}
.buttons-div a{
    text-decoration: none;
    color: var(--main-text-color);
    margin-inline: 0.25rem;
    background-color: #666666;
    padding-inline: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.buttons-div a:hover{
    background-color: #434343;
}
