:root {
  --main-text-color: rgb(218, 214, 182);
  --second-text-color: white;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-shadow: 2px 2px black;

  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
}

.tabela {
  border-collapse: collapse;
}
.tabela > thead,
th,
td {
  border: black solid 1px;
  text-align: center;
  justify-content: center;
}
.opt-td {
  margin: 0;
  vertical-align: top;
}
.opt-btn {
  display: block;
  margin: auto;
  transform: translate(0, 25%);
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.tabela-input {
  background-color: transparent;
  color: var(--second-text-color);
  border: none;
}

.icon {
  width: 16px;
  height: 16px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-inline: 0.25vw;
  position: relative;
}

.container {
  background-color: #676c74;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.25rem;
  min-width: 30vw;
}
.sub-menu {
  display: flex;
}
.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--main-text-color);
  margin: 0.25rem;
  background-color: #666666;
  border: 1px solid black;
  width: 100%;
  padding: 2px;
  cursor: pointer;
  min-width: fit-content;
}
.btn-div {
  display: flex;
  flex-direction: row;
}
.btn:hover {
  background-color: #434343;
}

.titulo {
  border-bottom: 5px dotted black;
}
.titulo3 {
  font-size: 24px;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menus {
  display: flex;
}

.links {
  margin-block: 2rem;
  transition: "opacity 5s ease-out";
  min-width: fit-content;
  padding: 0.25rem;
  background-color: #898d92;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  animation: pop 0.2s ease-out;
}

.fade {
  animation: fade 0.2s ease-out;
}

@keyframes pop {
  0% {
    opacity: 0%;
    transform: scale(0%);
  }
  100% {
    opacity: 100%;
    height: 100%;
    transform: scale(100%);
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
    transform: scale(100%);
  }
  100% {
    opacity: 0%;
    transform: scale(0%);
  }
}
